.land_page_nav{
    display: flex;
    position: sticky;
    height: 10px;
    justify-content: space-between;

}
span{
    border: 1px solid gray;
    height:fit-content;
    padding: 10px;
    width: 80px;
    text-align: center;
    border-radius: 10px;
}