.md{
    border: 2px solid;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}
.div1,.div2,.div3{
    display: flex;
    flex-wrap: wrap;
    border: 2px solid;
    padding: 20px;
    justify-content: space-evenly;
    gap: 10px;
}
.div1 div{
    border: 2px solid red;
    width: 90px;
    height: 90px;
    border-radius: 10px;
}
.div2 div{
    border: 2px solid red;
    height: 130px;
    width: 60px;
    border-radius: 10px;
}
.div2_2{
    flex-grow: 1;
}
.div3 div{
    border: 2px solid red;
    height: 80px;
    width: 90px;
    border-radius: 10px;
}
